{#
/**
 * @file
 * Default theme implementation to display a Apigee Rate Plan entity.
 *
 * This template uses Apigee Edge's default entity template, which can be found
 * at apigee_edge/templates/apigee-entity.html.twig.
 *
 * @ingroup themeable
 */
#}

{% embed 'apigee-entity.html.twig' %}
  {% block content %}
    {{ title_prefix }}
    {%- if label and view_mode != 'full' -%}
    {% set apiproductName = content.apiProduct|render|striptags %}

      <h2{{ title_attributes }}>
        <a href="{{ url }}">{{ apiproductName }}</a>
      </h2>

    {{ content|without('apiProduct') }}

    <hr class="my-4">
    {{ label }}

    {%- else -%}
    {{ title_suffix }}

    <div{{ content_attributes }}>
      {{ content }}
    </div>
    {%- endif -%}
  {% endblock %}
{% endembed %}
