{#
/**
 * Template for displaying current prepaid balances
 *
 * Available variables:
 * - balances: @todo describe balances var once we switch from direct api call to sdk
 *
 * @see Drupal\apigee_m10n\Controller\BillingController
 */
#}
<h3>{{ 'Current Prepaid Balance' |t }}</h3>
<table>
    <thead>
        <tr>
            <th>{{ 'Account Currency' | t }}</th>
            <th>{{ 'Balance Brought Forward' | t }}</th>
            <th>{{ 'Money Added to Account' | t }}</th>
            <th>{{ 'Usage' | t }}</th>
            <th>{{ 'Tax' | t }}</th>
            <th>{{ 'Current Balance' | t }}</th>
        </tr>
    </thead>
    <tbody>
        {% if balances %}
            {% for balance in balances %}
                <tr>
                    <td>{{ balance.currencyName }}</td>
                    <td>{{ balance.previousBalance }}</td>
                    <td>{{ balance.topups }}</td>
                    <td>{{ balance.usage }}</td>
                    <td>{{ balance.tax }}</td>
                    <td>{{ balance.currentBalance }}</td>
                </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>
